<%- include('./partials/head') %>

<!-- <div>
    <img src="/assets/pngwing.com.png">
    
</div> -->

<main>
    <section>
      <h1>Hello!</h1>
    </section>
    <section>
      <h1>Toodles~</h1>
    </section>
    <button>Toggle Fullscreen</button>
  </main>

<%- include('./partials/foot') %>