* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(28, 58, 92);

    .container {
        
    }
}

img {
    width: 50vmin;
  object-fit: cover;
}

div > * + * {
    margin-top: 2rem;
  }
div * {
    display: block;
  }
div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    color: hsl(0, 10%, 100%);
    background: hsl(90, 50%, var(--l, 40%));
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 6px;
    outline: transparent;
    transition: 0.3s ease;
  }

button:hover {
    transition: ease;
    background-color: rgb(46, 92, 46);
    --l: 30%;
}

button:active {
    --l: 20%;
  }


.fullscreen img {
    height: 100vh;
    width: 100vw;
}

.fullscreen button {
    position: absolute;
    left: 50%;
    bottom: 10vh;
    transform: translate(-50%, 0);
}

